.pokemon-location {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.pokemon-location h2 {
    font-size: 2em;
    color: #ffcb05; 
}

.pokemon-location ul {
    list-style-type: none;
    padding: 0;
}

.pokemon-location li {
    font-size: 1.2em;
    /* color: blue; */
    color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin: 5px 0;
}
