/* Add the following at the beginning of your CSS file to import Tailwind CSS */
@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Custom animations and type colors */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes slide-in {
  0% { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slide-in-3d {
  0% { opacity: 0; transform: translateX(-100%) rotateY(35deg); }
  100% { opacity: 1; transform: translateX(0) rotateY(0); }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end);
  font-family: 'Decotura', cursive;
}

.slide-in {
  animation: slide-in 1s forwards;
}

.slide-in-3d {
  animation: slide-in-3d 1s forwards;
}

.stat-bar-inner {
  transition: width 1s ease-out;
}

.pokemon-card img {
  animation: slide-in 1s forwards;
}